<div id="linker_form_gem" style="background-image: url(http://svite-league-apps-content.s3.amazonaws.com/bgimages/grunge-paper.jpg);">
  <div class="row center">
    <div class="col-md-10 col-md-offset-1">
      <br />
      <pre>
        <h3>
          Параметры:
        </h3>
        <%= @params.inspect %>
      </pre>
    </div>
  </div>
  <div class="row center">
    <div class="col-md-10 col-md-offset-1">
      <h1>
        Форма
      </h1>
      <pre>
        <%= form_tag("#", :method => :post, id: "main_linker_form") do %>
        <% end %>
      </pre>
      <br>
      <pre class="col-md-12" id="edit_input_form" style="display: none;"></pre><pre class="col-md-8 col-md-offset-2">
        <h3>
          Добавление нового input
        </h3>
        <br>
        Имя и id: 
        <%= text_field_tag "new_input_name" %>
        <br>
        Тип: 
        <%= select_tag("new_input_type", options_for_select(['text','button','checkbox','file','hidden','image','password','radio','reset','submit','color','date','datetime','datetime-local','email','number','range','search','tel','time','url','month','week'])) %>
        <br>
        <%= submit_tag "Добавить input", id: "new_input_submit" %>
        <%= submit_tag "Очистить", id: "new_input_clear" %>
        <%= submit_tag "Удалить все", id: "new_input_delete_all" %>
      </pre>
      <pre class="col-md-8 col-md-offset-2">
        <h3>
          Функции формы
        </h3>
        Адрес для перехода (Дефолтно - покажет параметры)
        <br>
        <%= text_field_tag "link" %>
        <br>
        Тип запроса
        <br>
        <%= select_tag("mtd", options_for_select(['get','post','patch','put','delete'])) %>
        <br>
        <br>
        <%= submit_tag "Сохранить cookie этой формы", id: "save_form_cookie" %>
        <br>
        <%= submit_tag "Удалить cookie этой формы", id: "delete_form_cookie" %>
        <br>
        <br>
        <%= submit_tag "Перейти", id: "main_linker_form_submit" %>
      </pre>
      <pre class="col-md-8 col-md-offset-2">
        <%= submit_tag "Html формы", id: "full_form_html" %>
        <br>
        <textarea readonly id="full_form_html_textarea" style="display: none;width: 100%;">
        </textarea>
      </pre>
      <pre class="col-md-8 col-md-offset-2">
        <%= submit_tag "Роуты", id: "full_routes_button" %>
        <br>
        <br>
        <div id="full_routes" style="display: none;">
          <table border="1" style="width: 100%;">
            <tr>
              <th>
                Путь
              </th>
              <th>
                Метод
              </th>
            </tr>
            <% @str.each do |str| %>
              <tr>
                <td>
                  <h5>
                    <%= str[0] %>
                  </h5>
                </td>
                <td>
                  <h5>
                    <%= str[1] %>
                  </h5>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </pre>
    </div>
  </div>
</div>
<hr>
<font color="white">Warning! Это вообще никак не относится ко всему, что выше. (Я тут тестирую, типа)
  <div class="row center">
    <div class="col-md-12">
      <%= link_to "Скачать", download_path %> какую-то хрень
    </div>
  </div>
</font>